@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@   ALERT! You are entering into a Secured Area    @@@@@@
@@@@@@     All activities on this system are logged     @@@@@@
@@@@@@                arezooo _montazeri                @@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@